[Unit]
Description=OMEN Hardware Performance Mode Service
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/omen-mode

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target
