- name: power-management | Disable Bluetooth persistently
  become: true
  ansible.builtin.copy:
    src: power-management/50-bluetooth.rules
    dest: /etc/udev/rules.d/50-bluetooth.rules
    owner: root
    group: root
    mode: "0660"
  notify: power-management | Disable Bluetooth

- name: power-management | Disable Wake-on-LAN
  become: true
  ansible.builtin.copy:
    src: power-management/81-wifi-powersave.rules
    dest: /etc/udev/rules.d/81-wifi-powersave.rules
    owner: root
    group: root
    mode: "0660"

- name: power-management | Setup ACPI events
  become: true
  ansible.builtin.copy:
    src: power-management/logind.conf
    dest: /etc/systemd/logind.conf
    owner: root
    group: root
    mode: "0644"
