- name: system | Set time zone to Europe/London (BST, +0100)
  become: true
  ansible.builtin.file:
    path: /etc/localtime
    src: /usr/share/zoneinfo/Europe/London
    state: link

- name: system | Synchronize clock with the network
  become: true
  ansible.builtin.command: ntpd -qg
  changed_when: true

- name: system | Generate /etc/adjtime (assumes hardware clock is UTC)
  become: true
  ansible.builtin.command: hwclock --systohc
  changed_when: true

- name: system | Set hostname
  become: true
  ansible.builtin.hostname:
    name: damien-omen
    use: systemd

- name: system | Configure the initramfs
  become: true
  ansible.builtin.copy:
    src: system/mkinitcpio.conf
    dest: /etc/mkinitcpio.conf
    owner: root
    group: root
    mode: "0644"
  notify: system | Regenerate the initramfs

- name: system | Check gsettings color-scheme
  ansible.builtin.command: gsettings get org.gnome.desktop.interface color-scheme
  register: res
  changed_when: not 'prefer-dark' in res.stdout
  notify: system | Set gsettings color-scheme to prefer-dark

- name: system | Check Firefox is default web browser
  ansible.builtin.command: xdg-settings get default-web-browser
  register: res
  changed_when: not 'firefox.desktop' in res.stdout
  notify: system | Set Firefox as default web browser
