- name: system | Set time zone to Europe/London (BST, +0100)
  become: true
  ansible.builtin.file:
    path: /etc/localtime
    src: /usr/share/zoneinfo/Europe/London
    state: link

- name: system | Synchronize clock with the network
  become: true
  ansible.builtin.command: ntpd -qg
  changed_when: true

- name: system | Generate /etc/adjtime (assumes hardware clock is UTC)
  become: true
  ansible.builtin.command: hwclock --systohc
  changed_when: true

- name: system | Set hostname
  become: true
  ansible.builtin.hostname:
    name: damien-omen
    use: systemd

# NOTE: Highly dependent on system configuration, so not included in meta/main.yml dependencies
# <https://wiki.archlinux.org/title/NVIDIA>
- name: Archlinux | Install official NVIDIA graphics card drivers for linux (non-lts) with pacman
  become: true
  community.general.pacman:
    name: nvidia
    state: present

- name: system | Configure the initramfs
  become: true
  ansible.builtin.copy:
    src: system/mkinitcpio.conf
    dest: /etc/mkinitcpio.conf
    owner: root
    group: root
    mode: "0644"
  notify: system | Regenerate the initramfs
