[Unit]
Description=Backs up files

[Service]
ExecStart=/usr/bin/rsync "%h/personal" "%h/work" "%h/.dotfiles" "%h/.password-store" "%h/Pictures" -CERrltm --delete "/media/%u/OS/Users/%u/backup":
