[Unit]
Description=Backs up files

[Service]
ExecStart=/usr/bin/rsync --archive \
    --relative \
    --cvs-exclude \
    --prune-empty-dirs \
    "%h/personal" \
    "%h/work" \
    "%h/.dotfiles" \
    "%h/.password-store" \
    "%h/Pictures" \
    "/media/%u/OS/Users/%u/backup"
